<h1>Login</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger" style="color:red">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with(url: login_path, local: true) do |form| %>
  <div>
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <br>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <br>
  
  <div class="button">
    <%= form.submit "Log In" %>
  </div>
<% end %>