<h1>Mainpage</h1>

<% if current_user %>
  <h2>Hello, <%= current_user.first_name %></h2>
  <%= link_to 'My Profile', user_path(current_user) %>
  <%= link_to 'Logout', logout_path %>
<% else %>
  <%= link_to 'Login', login_path %>
  <%= link_to 'Register', new_user_path %>
<% end %>

<h3>Find a Lesson</h3>
<%= form_with(url: root_path, method: :get, local: true) do |form| %>
  <%= form.label :teaching_language, "Teaching Language" %>
  <%= form.select :teaching_language, Lesson.pluck(:teaching_language).uniq, include_blank: true %>

  <%= form.label :known_language, "Known Language" %>
  <%= form.select :known_language, Lesson.pluck(:known_language).uniq, include_blank: true %>

  <%= form.label :level %>
  <%= form.select :level, Lesson.pluck(:level).uniq, include_blank: true %>

  <%= form.submit "Search" %>
<% end %>

<h3>Available Lessons</h3>

<% @lessons.each do |lesson| %>
  <div class="lesson">
    <h3><%= link_to lesson.title, lesson_path(lesson) %></h3>
    <p>Level: <%= lesson.level %></p>
    <p>Teacher: <%= lesson.teacher.full_name %></p>
  </div>
<% end %>

<% if current_user && current_user.role == 'teacher' %>
  <%= link_to 'Create New Lesson', new_lesson_path %>
<% end %>