<% if current_user %>
  <h1>Hello, <%= current_user.first_name %></h1>
<% end %>

<h2>Find a Lesson</h2>
<%= form_with(url: root_path, method: :get, local: true) do |form| %>
  <%= form.label :teaching_language, "Teaching Language" %>
  <%= form.select :teaching_language, Lesson.pluck(:teaching_language).uniq, include_blank: true %>

  <%= form.label :known_language, "Known Language" %>
  <%= form.select :known_language, Lesson.pluck(:known_language).uniq, include_blank: true %>

  <%= form.label :level %>
  <%= form.select :level, Lesson.pluck(:level).uniq, include_blank: true %>

  <%= form.submit "Search" %>
<% end %>

<h2>Available Lessons</h2>
<% @lessons.each do |lesson| %>
  <div class="lesson">
    <h3><%= link_to lesson.title, lesson_path(lesson) %></h3>
    <p>Level: <%= lesson.level %></p>
    <p>Teacher: <%= lesson.user.full_name %></p>
  </div>
<% end %>