<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Lanex" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    
    <style>
      .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        font-size: 25px;
      }

      .navbar li {
        float: left;
      }

      .navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .navbar li a:hover {
        background-color: #111;
      }
    </style>
  </head>

  <body>

    <header>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>" style="color:blue; font-size:30px; text-align:center;">
          <%= message %>
        </div>
      <% end %>
        <%= render 'layouts/header' %>
      </header>

      <nav>
        <%= render 'layouts/navbar' %>
      </nav>

      <div class="container">

        <section class="content">
        <%= yield %>
        </section>
      </div>

      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    
  </body>
</html>
